.card{
    background: white;
    height: inherit;
    padding: 10px;
    border-radius: 16px;
}

.form-group{
   padding: 10px 0px;
   text-align: center;
   justify-content: center;
}
input{
    width:100%;
    border: 1px solid #000080;
    height: 40px;
    margin: auto;
    font-size: 14px;
    border-radius: 23px;
}
.btn-custom{
    /* background: #000080; */ 
    color: #000080;
    width: 150px;
    border: 1px solid #000080;
    height: 40px;
    border-radius: 22px;
    font-weight: 600;
}
.btn-custom-Company{
       background: #000080; 
       color: white;
       width: 150px;
       border: 1px solid #000080;
       height: 40px;
       border-radius: 22px; 
}
.btn-custom-Iso{
    background: #000080;
    color: white;
    width: 150px;
    border: 1px solid #000080;
    height: 40px;
    border-radius: 22px; 
}
form{
    justify-content: center;
}
h2,h6{
    color: #000080;
}
.container{
    position: absolute;
    top:10%;
    left: 5%;
}
.icon-eye{
    position: absolute;
     top: 13px;
      left: 72%;
       cursor: pointer;
}

.input{
    font-size: 12px;
}
@media screen and (min-width: 1440px) {
    .icon-eye{
        position: absolute;
         top: 16px;
          left: 70%;
           cursor: pointer;
    }
}
@media screen and (max-width: 768px) {
    input{
        width: 100%;
        border: 1px solid #000080;
        height: 40px;
        margin: auto;
        font-size: 12px;
    }
    
    .container {
        position: absolute;
        top: 10%;
        left: 0%;
    }
    .icon-eye{
        position: absolute;
        top: 10px;
        left: 80%;
           cursor: pointer;
    }
    p{
        font-size: 12px;
    }
    h2,h6{
        font-size: inherit; 
 }
}

a{
    color: #000080;
    text-decoration: none;
}
.imageBlock {
    background-image: url("../../../assets/images/welcome-bg.png");
    background-size: 100% 100%;
    /* // background-color: red !important; */
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: inherit;
  
    height: 100vh;
    width: 50%;
  }
  
  