<div class="row mx-0" >
    <div class="col-sm-12 px-0">
        <nav class="navbar navbar-light shadow " style="background-color: white;height: 60px; padding:10px">
            <a class="navbar-brand" [routerLink]="'/main/home'">
                <p><span><b><i class="bi bi-home"></i></b></span>&nbsp;<b>Salus</b></p>
              </a>
              <div class="col-sm-4 text-end">
                <a><p><span><b><i class="bi bi-bell"></i>
                </b>&nbsp;</span>&nbsp;<i class="bi bi-person-circle"></i>
            </p></a>
                              </div>
        </nav>
    </div>
    <div class="col-sm-12 px-0">
        <router-outlet></router-outlet>
    </div>
</div>