<div class="content " role="main">  
    <div class="card-container">
      <a class="card" [routerLink]="'/main/individual'">
        <h4><span><i class="bi bi-person-fill"></i>&nbsp;<b></b></span>Hazop</h4>
       
     </a>
  
      <a class="card" [routerLink]="'/main/network'">
        <h4><span><i class="bi bi-diagram-3-fill"></i>&nbsp;<b></b></span>ER Plans</h4>
        
     </a>
  
      <a class="card" [routerLink]="'/main/organisation'">
        <h4><span><i class="bi bi-building-gear"></i>&nbsp;<b></b></span>BBS</h4>
        
     </a>
     <a class="card" [routerLink]="'/main/organisation'">
      <h4><span><i class="bi bi-building-gear"></i>&nbsp;<b></b></span>Drill Report</h4>
      
   </a>
   <a class="card" [routerLink]="'/main/organisation'">
    <h4><span><i class="bi bi-building-gear"></i>&nbsp;<b></b></span>Equipments</h4>
    
 </a>
 <a class="card" [routerLink]="'/main/organisation'">
  <h4><span><i class="bi bi-building-gear"></i>&nbsp;<b></b></span>Others</h4>
  
</a>
      </div>
</div>

  